.input
{
    display: flex;
    flex-direction: column;
}

.input-block
{
    display:flex;
    flex-direction: row;
}

.buttons
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Popup form
{
    display: flex;
    flex-direction: column;
}