
.input-box{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dropdown{
    display: flex;
    flex-direction: column;
}
.select-item{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 20px;
}

.select-item label{
    display: block;
    margin-top: 10px;
}

.dropdown:hover .select-item{
    display: block;
}