.expense-overview
{
    background-color: rgb(44,44,44);
    background-color: rgb(44,44,44);
    border: 2px solid #2C2C2C;
    border-radius: 10px;
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
}